<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myProject0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E807D3081D9D6CA000785BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E807D3211D9D6CA100785BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E807D32C1D9D6CA100785BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
